/* SETUP */
@import url(setup/fonts.css);


/* BASICS */
/* בסיס, הלפרים, לייאאוט */

@import url(base/base.css);
@import url(base/layout.css);

/* COMPONENTS */
/* הדר, מאין, פוטר, עמודים */
@import url(generator/components.generator.css);
@import url(gallery/components.gallery.css);

/* gallery */

@import url(gallery/gallery.css);
/* generator */
@import url(generator/generator.css);


/* MEDIA QUERIES */
/* מובייל וכו */



/* לשנות - את הסגירה בגנרטור לצד ימין או חזור לצד שמאל
ליישר את כל הכפתורים */