/* SETUP */
@import url(setup/fonts.css);


/* BASICS */

@import url(base/base.css);
@import url(base/layout.css);

/* COMPONENTS */
@import url(generator/components.generator.css);
/* @import url(gallery/components.gallery.css); */

/* gallery */
@import url(gallery/logo.css);
@import url(gallery/header.css);
@import url(gallery/gallery.css);

/* generator */
@import url(generator/generator.css);

/* footer */
@import url(footer/footer.css);

/* MEDIA QUERIES */
/* מובייל וכו */
@import url(base/mq.css);
