/* SETUP */
@import url(setup/fonts.css);


/* BASICS */
/* בסיס, הלפרים, לייאאוט */

@import url(base/base.css);

/* COMPONENTS */
/* הדר, מאין, פוטר, עמודים */

/* gallery */

@import url(gallery/gallery.css);
/* generator */
@import url(generator/generator.css);


/* MEDIA QUERIES */
/* מובייל וכו */
