


.footer-container{
    font-family: Mulish-Regular, serif;
    background-color:  rgba(238, 206, 137, 0.329);
    width: 100%;


}

.generator-footer-color {
    /* generator page color */
    background-color: rgb(0, 0, 0) !important;
    color: rgba(240, 255, 255, 0.596);
    font-size: 1em;
    margin-bottom: 0px;
}
