.generator-screen {
    display: block;
    inset: 1;
    background-color: rgb(0, 0, 0);
    cursor: pointer;
    opacity: 1;
    transition: 0.8s;
}

.generator-color {
    /* generator page color */
    background-color: rgb(0, 0, 0);
    color: azure;
    font-size: 1em;
    margin-bottom: 0px;
}


.canvas {
    grid-area: canvas;
    border: 1px solid black;
    border-color: rgba(0, 0, 0, 0.356);
    

}


.generator-buttons {
    position: relative;
    grid-area: buttons;
    display: grid;
    /* height: 90; */
    /* width: 90; */
    grid-template-columns: 1fr 1fr 1fr 1fr  20px;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
    grid-template-areas:
        "backBtn . . . . "
        " . . . .  . "
        " colorBtn size swichBtn delete  . "
        " colorBtn size swichBtn delete  ."
        " addtext addtext addtext  . ."
        " addtext addtext addtext .  ."
        ".  . download download .";

    /* background-color: rgba(162, 157, 165, 0.884); */
}



