.generator-screen {
    inset: 1;
    background-color: rgb(0, 0, 0);
    /* cursor: pointer; */
    opacity: 1;
    transition: 0.8s;
}

.generator-header-color {
    /* generator page color */
    background-color: rgb(0, 0, 0);
    color: azure;
    font-size: 1em;
    margin-bottom: 0px;
}


.canvas {

}


.generator-buttons {
    grid-area: buttons;
    align-items: center;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-areas:
        " title title title title "
        "  . addLine delete  ."
        " colorBtn size swichBtn .  "
        "  addtext  addtext addtext addtext"
        " . . . download ";

}
.swichBtn {
    grid-area: swichBtn;
}

.deleteBtn {
    grid-area: delete;
}
#addLineBtn{
    grid-area: addLine;
}
.sizesBtn {
    grid-area: size;
}

#colorBtn {
    grid-area: colorBtn;
}
#addText {
    grid-area: addtext;
}
#downloadBtn {
    grid-area: download;
}

.title{
    grid-area: title;
    
}