.generator-screen {
    /* display: block; */
    inset: 1;
    position: fixed;
    background-color: rgba(80, 69, 92, 0.507);
    cursor: pointer;
    /* opacity: 0; */
    /* pointer-events: none; */
    transition: opacity 0.6s; 
}

.hide {
    display: none;

}

/* .generator-container {
    display: block;
    height: 400px;
    width: 400px;
    background-color: darkcyan;
    text-align: center;
    color: white;
    padding-top: 150px; /* למרכז את התוכן */
/* } */

.canvas-container {
    width: 80vw;
    margin: 10px auto;
    /* background-color: brown; */
    border: 1px solid black;
}

canvas {
    background-color: white;
    border: 1px solid black;
    max-width: 70%;
   
}

.generator-container {
    display: block;
    place-items: center;
    justify-content: center;
    /* align-items:center ; */
    /* justify-items: center; */
}

#pickColor {
    -webkit-appearance: none; /* מסיר עיצוב דפדפן ברירת מחדל */
    border: none;
    width: 40px;
    height: 40px;
    cursor: pointer;
    background: none;
    padding: 0;
}
