.generator-screen {
    inset: 1;
    background-color: rgb(0, 0, 0);
    cursor: pointer;
    opacity: 1;
    transition: 0.8s;
}

.generator-color {
    /* generator page color */
    background-color: rgb(0, 0, 0);
    color: azure;
    font-size: 1em;
    margin-bottom: 0px;
}


.canvas {
    justify-self: center;
    grid-area: canvas;
    border: 1px solid black;
    border-color: rgba(0, 0, 0, 0.356);

}


.generator-buttons {
    grid-area: buttons;
    align-items: center;
    display: grid;
    /* height: max-content; */
    /* width: max-content; */
    grid-template-columns:  1fr 1fr 1fr 1fr ;
    grid-template-areas:
        " . . . . "
    
        /* "  . . .  ." */
        "  . . .  ."
        " colorBtn size swichBtn delete  "
        "  addtext  addtext addtext addtext"
        " . . . download ";

}



