.home-page {
    grid-column: 1/-1;
}

.gallery-color {
    /* main page color */
    background-color: rgb(238, 206, 137);
    color: black;
}

.header-container {
    grid-area: header;
    z-index: 100;
    background-color: rgb(238, 206, 137);
    color: black;
    height: 100;
    width: 100vw;
    padding-bottom: 10px;
    /* border-radius: 1em; */
    position: relative;

    display: grid;
    grid-template-columns:  2fr 1fr 1fr ;
    grid-template-areas:
        " logo logo logo"
        " search topSearch myMEME ";


}


.gallery-container {
    grid-area: gallery;


    justify-content: center;
    /* border-radius: 1em; */

    flex-basis: auto;
    flex-wrap: wrap;
    /* width: 90%; */


    /* height: 100vh; */
    overflow: auto;
    border: 1px solid #ccc;

}