.gallery-container {
    width: 100%;
    justify-content: center;
    overflow: auto;
    border: 1px solid #ccc;
    
    img {
        cursor: pointer;
        max-height: 250px;
        max-width: 250px;
        border-radius: 2em;
        margin: 1em;
        flex-shrink: 1;
        box-shadow: 1px 2px rgba(53, 52, 52, 0.144),
            -0.2em 0 0.1em rgba(0, 0, 0, 0.192);
        ;
        transition: 1s;
    }
    
    img:hover {
        scale: 1.05;
        transition: 0.5s;
    }
    
    img:active {
        scale: 1.12;
        transition: 0.5s;
    }
}

