.home-page {
    grid-column: 1/-1;
}

.gallery-color {
    /* main page color */
    background-color: rgb(238, 206, 137);
    color: black;

}

.header-container {
    grid-area: header;
    z-index: 100;
    background-color: rgb(238, 206, 137);
    color: black;
    height: 100;
    width: 100vw;
    padding-bottom: 10px;
    border-radius: em;
    position: relative;

    display: grid;
    grid-template-columns: 20px 2fr 1fr 1fr 20px;
    grid-template-areas:
        ". logo logo logo ."
        ". search  topSearch myMEME .";


}

.myMEME-container {
    grid-area: myMEME;
    display: flex;
    justify-self: start;
    margin-left: 2em;
    align-items: center;
    height: 50px;
    width: max-content;
    padding-left: 1em;
    padding-right: 1em;
    margin-right: 10px;
    border: 1px solid rgba(175, 164, 164, 0.137);
    border-radius: 3em;
    color: rgb(255, 255, 255);
    background-color: #ccc;

}


.home-page>.gallery-container {
    grid-area: gallery;

    justify-content: center;

    flex-basis: auto;
    flex-wrap: wrap;
    width: 70px;
    height: 100vh;
    overflow: auto;
    border: 1px solid #ccc;

}

.gallery-container>img {
    cursor: pointer;
    height: 250px;
    width: 250px;
    border-radius: 2em;
    margin: 10px;
    flex-shrink: 1;
    box-shadow: 1px 2px rgba(53, 52, 52, 0.144),
        -0.2em 0 0.1em rgba(0, 0, 0, 0.192);
    ;
    transition: 1s;
}

img:hover {
    scale: 1.05;
    transition: 0.5s;
}

img:active {
    scale: 1.12;
    transition: 0.5s;
}



h1 {
    grid-area: logo;
    font-size: 5em;
    transition: 0.5s;
    position: relative;
    margin-bottom: 0.2em;
    margin-top: 0;

}

.logo-i {
    font-size: 1.6em;
    font-family: Mulish-Bold, serif;

}

.logo-t {
    font-size: 1.6em;
    font-family: Mulish-Regular, serif;

}

h1:hover {
    /* display: block; */
    transform: rotate(6deg);
}





/* search */

.search-container {
    grid-area: search;
    display: flex;
    flex: 2;
    justify-content: space-between;
    height: 50px;
    min-width: 300px;
    max-width: 500px;
    border: 1px solid rgb(175, 164, 164, 0.137);
    border-radius: 3em;
    background-color: rgba(255, 254, 253, 0.74);
    padding-left: 15px;
    padding-right: 15px;
    transition: 0.2s;
    margin-left: 10% ;
}


#searchBtn {
    border: 0px;
    color: rgba(54, 49, 49, 0.801);
    background-color: rgba(255, 255, 255, 0);
    font-size: 1.5em;
    cursor: pointer;
    transition: 0.2s;
}

.search-container:hover {
    border: 1px solid rgb(245, 149, 24);
    color: rgb(245, 149, 24);
    transition: 0.2s;

}

.search-container:hover>#searchBtn {
    color: rgb(245, 149, 24);
    scale: 1.1;
    transition: 0.2s;

}

.search-container:hover>#clearhBtn {
    transform: rotate(6deg);
    color: beige;
    transition: 0.2s;

}

#clearBtn:active {
    scale: 0.9;
    color: #ca7272;
    transition: 0.2s;
}

.search-container>#searchBtn:active {
    scale: 1.2;
    transition: 0.2s;

}

#searchWord {
    font-family: Mulish-Regular, serif;
    height: 100%;
    width: 100%;
    border: 0px;
    background-color: rgba(240, 248, 255, 0);
    font-size: 1.5em;
    outline: none;
    color: rgb(245, 149, 24)
}

.topWords-container {
    grid-area: topSearch;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 1em;
    /* margin-right: 10px; */
    height: 50px;
    /* width: max-content; */
    width: 100%;
    border: 1px solid rgba(175, 164, 164, 0.137);
    border-radius: 3em;
    /* padding-left: 15px; */
    /* padding-right: 15px; */
    color: rgb(255, 255, 255);
    background-color: #ccc;
}

.searchWord-link {
    text-decoration: none;
    color: inherit;
    font-weight: normal;
    font-size: 1.5em;
    margin-right: 12px;
    transition: 0.5s;
}

.searchWord-link:hover {
    scale: 1.2;
    color: rgb(245, 149, 24);
    transition: 0.5s;
}

.searchWord-link:active {
    scale: 1.5;
    transition: 0.5s;
}


#clearBtn {
    border: 0px;
    background-color: rgba(255, 255, 255, 0);
    color: rgba(95, 99, 98, 0.514);
    font-size: 1.5em;
    cursor: pointer;
    transition: 0.2s;
}