.header-container {
    z-index: 100;
    background-color: rgb(238, 206, 137);
    color: black;
    height: 240px;
    width: 100vw;
    padding-bottom: 10px;
    position: relative;

    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-areas:
        " logo logo logo"
        " . main . ";

    .logo {
        grid-area: logo;
    }

    .main-nav-container {
        grid-area: main;
        display: flex;
        width: max-content;
        /* justify-self: center; */


        /* ---search--- */
        .search-container {
            grid-area: search;
            display: flex;
            flex: 2;
            margin-right: 1em;
            justify-self: flex-end;
            height: 50px;
            min-width: 300px;
            max-width: 500px;
            border: 1px solid rgb(175, 164, 164, 0.137);
            border-radius: 3em;
            background-color: rgba(255, 254, 253, 0.74);
            padding-left: 15px;
            padding-right: 15px;
            transition: 0.2s;
        }


        #searchBtn {
            border: 0px;
            color: rgba(54, 49, 49, 0.801);
            background-color: rgba(255, 255, 255, 0);
            font-size: 1.5em;
            cursor: pointer;
            transition: 0.2s;
        }

        .search-container:hover {
            border: 1px solid rgb(245, 149, 24);
            color: rgb(245, 149, 24);
            transition: 0.2s;

        }

        .search-container:hover>#searchBtn {
            color: rgb(245, 149, 24);
            scale: 1.1;
            transition: 0.2s;

        }

        .search-container:hover>#clearhBtn {
            transform: rotate(6deg);
            color: beige;
            transition: 0.2s;

        }

        #clearBtn:active {
            scale: 0.9;
            color: #ca7272;
            transition: 0.2s;
        }

        .search-container>#searchBtn:active {
            scale: 1.2;
            transition: 0.2s;

        }

        #searchWord {
            font-family: Mulish-Regular, serif;
            height: 100%;
            width: 100%;
            border: 0px;
            background-color: rgba(240, 248, 255, 0);
            font-size: 1.5em;
            outline: none;
            color: rgb(245, 149, 24)
        }

        #clearBtn {
            border: 0px;
            background-color: rgba(255, 255, 255, 0);
            color: rgba(95, 99, 98, 0.514);
            font-size: 1.5em;
            cursor: pointer;
            transition: 0.2s;
        }

        /*---myMEME--- */

        .myMEME-container {
            grid-area: myMEME;
            display: flex;
            justify-self: start;
            margin-left: 2em;
            align-items: center;
            height: 50px;
            /* width: max-content; */
            padding-left: 1em;
            padding-right: 1em;
            margin-right: 10px;
            border: 1px solid rgba(175, 164, 164, 0.137);
            border-radius: 3em;
            color: rgb(255, 255, 255);
            background-color: #ccc;

        }

        /*---topWords--- */
        .topWords-container {
            grid-area: topSearch;
            max-width: 30%;
            justify-content: space-between;
            align-items: center;
            padding-left: 1em;
            padding-right: 1em;
            height: 50px;
            max-width: 90%;
            border: 1px solid rgba(175, 164, 164, 0.137);
            border-radius: 3em;
            color: rgb(255, 255, 255);
            background-color: #ccc;
            display: flex;
        }

        .searchWord-link {
            text-decoration: none;
            color: inherit;
            font-weight: normal;
            /* font-size: 1.5em; */
            margin-right: 12px;
            transition: 0.5s;
        }

        .searchWord-link:hover {
            scale: 1.2;
            color: rgb(245, 149, 24);
            transition: 0.5s;
        }

        .searchWord-link:active {
            scale: 1.5;
            transition: 0.5s;
        }
    }
}