body {
    text-align: center;
    font-size: 1rem;
    background-color: rgba(167, 168, 175, 0.295);
}

.mian-container {
    display: flex;
    justify-content: space-between;
    
}

button {
    font-size: 1.5em;
    border-radius: 5px;
    border: 1px solid black;
    color:rgb(26, 32, 18);
 
 
}

input {
    border-radius: 5px;
    border: 1px solid black;
    height: 2.5em;
    font-size: 1em;
    margin-bottom: 10px;
}