body {
    text-align: center;
    font-size: 1rem;
    background-color: rgba(167, 168, 175, 0.295);
    height: 100vh;
    width: 100vw;
    transition: 1s;


}

html {
    font-family: Mulish-Regular, serif;
}


button {
    cursor: pointer;

}

button:hover {
    scale: 0.9;
    transition: 0.2s;
}

.hide {
    display: none;
}