body {
    text-align: center;
    font-size: 1rem;
    background-color: rgba(167, 168, 175, 0.295);
    height: 100vh;
    width: 100vw;

    
}
html {
    font-family: Mulish-Regular, serif;
}



.hide {
    display: none;
}
