body {
    text-align: center;
    font-size: 1rem;
    background-color: rgba(167, 168, 175, 0.295);
    
}
html {
    font-family: Mulish-Regular, serif;
}

.mian-container {
    display: flex;
    justify-content: space-between;
    
}

.hide {
    display: none;
}
