.main-layout {
    display: grid;
    grid-template-columns: minmax(20px, 1fr) 1fr minmax(20px, 1fr);
    grid-template-areas:
        "header header header"
        ". gallery ."
        "footer footer footer";
    justify-items: center;
    margin: 0;


}

.footer-container {
    grid-area: footer;
}

.header-container {
    grid-area: header;
}

.generator-container,.gallery-container {
    grid-area: gallery;

}

.canvas-container {
    margin: 4rem;
    grid-area: generator;
    display: flex;
    /* justify-self: center; */
    place-self: center;
    background-color: rgba(82, 78, 74, 0.534);
    border-radius: 3em;
    display: grid;
    grid-template-columns: auto 1fr;
    grid-template-areas:
        "canvas buttons ";
    gap: 1em;

}

.canvas {
    grid-area: canvas;

}