/* MEDIA QUERRY */


@media (max-width: 740px) {
    .main-layout {
        /* background-color: aqua; */
        display: grid;
    }

    .header-container {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: auto auto;
        grid-template-areas:
            " logo "
            " search";
            align-content: center;
            justify-content: center;

    }

    .search-container{
        margin-right:0;
        }

    .h1 {
        font-size: 3em;
    }

    .myMEME-container {
        display: none !important;
    }
    
    .topWords-container {
        display: none !important; 
    }

    .gallery-container>img {
        cursor: pointer;
        max-height: 150px;
        max-width: 150px;
        margin: 0.4em;
    }


    /* generator */

    .canvas-container {
        max-width: 100vw;
        padding: 0.5em;
        grid-area: generator;
        max-width: 90%;
        display: flex;
        flex-direction: column;
        align-items: center;
        background-color: rgba(82, 78, 74, 0.534);
        border-radius: 3em;
        /* grid-template-columns: minmax(500px,720px) 1fr; */
        grid-template-rows: auto 1fr;
        grid-template-areas:
            "canvas"
            " buttons ";
        gap: 5px;
        /* max-width: 80% */
        
    }
    canvas {
        justify-self: center;
        grid-area: canvas;
        border: 1px solid black;
        border-color: rgba(0, 0, 0, 0.356);
        max-width: 100vw;
        /* width: 80%; */
      
        
    
    }

    #backBtn{
        grid-area: search;
        position: absolute;
        top: -20px;
        right: 20px;
        /* margin-right: 30%; */
        /* justify-self:; */
        /* align-self: ; */

    }

    .generator-buttons {
        grid-area: buttons;
        align-items: center;
        display: grid;
        /* height: max-content; */
        /* width: max-content; */
        grid-template-columns:  1fr 1fr 1fr 1fr ;
        grid-template-areas:
        
            " colorBtn size swichBtn delete  "
            "  addtext  addtext addtext addtext"
            " . download  download .";
    
    }
    



}