
/* Mulish-bold */
@font-face {
    font-family: Mulish-Bold;
    src: url("../fonts/Mulish-Bold.ttf");
}

/* Mulish-regular */
@font-face {
    font-family: Mulish-Regular;
    src: url("../fonts/Mulish-Regular.ttf");
}
